<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Postit Wall</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="./style/style.css">
</head>
<body>
  <div id="app">
    <transition-group name="fade">
      <div class="postit" v-for="(p, pid) in postits" :style="postitCss(p)" :key="pid"
        @mousedown="selectId($event,pid)" @touchstart="selectId($event,pid)">
        <div class="text" v-html="newLinetoBr(p.text)"></div>
        <div class="colorList">
          <div class="colorBlock" v-for="color in colorList" 
            :style="{backgroundColor: color.color}" @click="setColor(pid, color.color)">
          </div>
          <i class="fas fa-pencil-alt" @click="editPostit(p, pid)"></i>
          <i class="far fa-trash-alt" @click="removePostit(pid)"></i>
        </div>
      </div>
    </transition-group>
    <div class="dataList">
      <button @click="addPostit">Add postit +</button>
      <ul>
        <li v-for="(p, pid) in postits">
          <h3>{{p.text}}</h3>
          <textarea v-model="p.text" @change="updateText(pid)"></textarea>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>

<script>
  var vm = new Vue({
    el: '#app',
    data() {
      return {
        postits: [],
        colorList: [
          {
            name: 'yellow',
            color: '#ffeb67'
          },
          {
            name: 'red',
            color: '#ef898c'
          },
          {
            name: 'blue',
            color: '#a5d8d6'
          },
          {
            name: 'green',
            color: '#cbe196'
          }
        ],
        nowId: -1,
        mousePos: {x: 0, y: 0},
        startPos: {x: 0, y: 0}
      }
    },
    methods: {
      postitCss(p) {
        let fontSize = ((240-10)/(1+Math.max((p.text).split("\n").map(t=>t.length)))-10);
        return {
          left: p.pos.x + 'px',
          top: p.pos.y + 'px',
          fontSize: fontSize >=1? fontSize + 'px': 1 + 'px',
          // fontSize: ((240-10) / p.text.length) - 10 + 'px',
          backgroundColor: this.colorList.find((item) => {
            return item.color == p.color
          }).color
        }
      },
      newLinetoBr(text) {
        return text.replace(new RegExp('\n'), '<br>');
      },
      selectId(e,id) {
        if(e.srcElement.classList.contains('postit')) {
          this.nowId = id;
          this.startPos = {
            x: e.offsetX,
            y: e.offsetY
          }
        } else {
          this.nowId = -1;
        }
      },
      addPostit() {
        let ran = Math.floor(Math.random()*4);
        let ranColor = this.colorList[ran].color
        postitRef.push({
          text: '文字文字',
          color: ranColor,
          pos: {x: 350+Math.random()*200, y: 200+Math.random()*200}
        })
      },
      setColor(id, color) {
        this.postits[id].color = color;
        postitRef.child(id).set(this.postits[id]);
      },
      editPostit(p, id) {
        let text = prompt("輸入新內容：", p.text);
        postitRef.child(id).child('text').set(text);
      },
      updateText(id) {
        postitRef.child(id).set(this.postits[id]);
      },
      removePostit(id) {
        postitRef.child(id).remove();
      }
    },
    watch: {
      mousePos() {
        if(this.nowId != -1) {
          let nowPostit = this.postits[this.nowId];
          nowPostit.pos.x = this.mousePos.x - this.startPos.x;
          nowPostit.pos.y = this.mousePos.y - this.startPos.y;
          //同步firebase
          postitRef.child(this.nowId).set(nowPostit);
        }
      }
    }
  })

  window.onmousemove = (e) => {
    if(vm.nowId != -1) {
      vm.mousePos = {x: e.pageX, y: e.pageY}
    }
  }
  window.ontouchmove = (e) => {
    if(vm.nowId != -1) {
      vm.mousePos = {x: e.pageX, y: e.pageY}
    }
  }

  window.onmouseup = () => {
    vm.nowId = -1;
  }
  window.ontouchend = () => {
    vm.nowId = -1;
  }
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCE6O3NdbIP5sVSA16l3qSFVTgkhZY_u20",
    authDomain: "postit-wall.firebaseapp.com",
    databaseURL: "https://postit-wall.firebaseio.com",
    projectId: "postit-wall",
    storageBucket: "postit-wall.appspot.com",
    messagingSenderId: "511434022639"
  };
  firebase.initializeApp(config);

  var postitRef = firebase.database().ref('/postit/');
  postitRef.on('value', (snapshot) => {
    vm.postits = snapshot.val();
  })
</script>